body {
    text-align: center;
}

#canvas {
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

#fill {
    position: absolute;
    width: 750px;
    height: 500px;
    text-align: center;
    font-family: monospace;
    font-size: 24px;
    z-index: 1;
    visibility: hidden;
}

#fill.visible {
    visibility: visible;
    opacity: .7;
    background-color: black;
    color: white;
    -webkit-transition: background 0.5s ease-in;
}

button {
    height: 45px;
    width: 150px;
    margin: 10px 7px;
    padding: 5px 5px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    outline: 0;
    overflow:hidden;
    background: none;
    position: relative;
    color: #383736;
    border: 2px #383736 solid;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
  color: white;
}

button#restart {
    visibility: hidden;
}

button#restart.visible {
    visibility: visible;
}

#map .row {
    margin-bottom: -4px;
}

#map .square {
    margin-right: -4px;
}

.square {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: 100% auto;
}

.square.bg {
    background-image: url('lib/img/castleCenter.png');
}

.square.isKey {
    background-image: url('lib/img/keyYellow.png');
}

.square.isLock {
    background-image: url('lib/img/lock_yellow.png');
}

.square.isObstacle {
    background-image: url('lib/img/dirtCaveRockLarge.png');
}

.player {
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: 100% auto;
    background-image: url('lib/img/alienPink_walk1.png');
}

.player.left {
    background-image: url('lib/img/alienPink.png');
}

.enemy {
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: 100% auto;
    background-image: url('lib/img/slimeBlock.png');
}

.state {
    background: gold;
    font-family: monospace;
    font-size: 24px;
}
